@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lato&family=M+PLUS+Rounded+1c:wght@500&family=Poppins&family=Roboto:ital,wght@0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    background-color: #15202B;
    font-family: 'Poppins', sans-serif;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}
.pro-name p{
    color: #fff;
}
.sub-container{
    /* 275px 600px 350*/
    /* 115px 275px 600px 350px 115px */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: ". left Mid right . ";
}
.left{
    grid-area: left;
    max-height: 100vh;  
    padding-right: 1em;
    position: relative;
    width: 250px;
}
.left-element{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
.Mid{
    grid-area: Mid;
    margin-right: 1.5rem;
    width: 550px;
    position: relative;
    border:1px solid #38444D;
}
.right{
    grid-area: right;
    width: 348px;
    position: relative;
}
.twitter-img{
    width: 48px;
    height: 48px;
    fill: rgb(255, 255, 255);
    padding: .8em .7em .8em .7em; 
}
.navigation{
    padding: 1em 0em 1em 0em;
    display: grid;
    grid-template-rows: repeat(8,1fr); 
    grid-template-columns: 1fr;
}
.nav-links{
    padding: .7em 1em .7em 0.7em;
    display: flex;
}  

.left-tweet-btn{
    width: 100%;
    color: #333;
    padding: 1em;
    border-radius: 2em;
    font-weight: 700;
    font-size: 1em;
    background-color: #fff !important;
}
.left-tweet{
    max-width: 225px;
    min-width: 52px;
    padding: 1em 1em 1em 0em;
    display: flex;
}
.profile{
    display: flex;
    align-items: center;
    padding: .6em 0em .6em 1em;
    margin-bottom: .5em;
    position: relative;
}
.logout-area{
    content: '';
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    position: absolute;
    bottom: 70px;
    left: 0;
    background-color: #15202B !important;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pro-img img{
    width: 40px;
    height: 40px;
    border-radius: 2em;
}
.pro-dot{
    width: 14px;
    height: 5px;
    fill: #fff;
}
.right-dot{
    width: 14px;
    height: 5px;
    fill: #fff;
    padding: 0em .3em 0em 2em;
}
.pro-name{
    padding: 0em .9em;
}
.id{
    font-size: 0.8em;
    opacity: .6;
}
.pro-dot{
    padding: 0em 1.5em;   
}
.home-area{
    border: 1px solid #38444D;
    padding: 1em;
    max-width: 100vw;
} 
.navbar{
    position: sticky;
    top: 0;
    z-index: 3;
    border: 1px solid #38444D;
    height: 52px;
    backdrop-filter: blur(10px);
} 
.explore{
    border: 1px solid #38444D;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.navnoti svg{
    width: 17px;
    height: 17px;
    fill: #fff;
    padding: .8em;
}
.navnoti p{
    font-size: 1.2em;
    font-weight: 700;
    padding: .6em;
}
.nav p{
    font-size: 1.2em;
    font-weight: 700;
    padding: .6em;
}
.nav svg{
    width: 17px;
    height: 17px;
    fill: #fff;
    padding: .8em;
}

.add-tweet{
    display: flex;
    align-items: center;
}
.add-tweet textarea{
    margin-left: 1em;
    border: none;
    background-color: #15202B;
    outline: none;
    align-items: center;
    font-size: 1.2em;
    resize: none;
}
::placeholder{
    color: #ccc;
    font-size: 1.1em;
}
.add-tweet img{
    width: 48px;
    height: 48px;
    border-radius: 2em;
}
.add-tweet-imgs{
    display: grid;
    grid-template-areas: ". tweet-img . tweet";
    height: 80px;
    align-items: center;
}
.tweet-img{
    grid-area: tweet-img;
    height: 38px;
    display: flex;
}
.tweet{
    grid-area: tweet;
}
.tweet{
    display: flex;
    justify-content: flex-end;
}
.tweet button{
    color: #ccc;
    background-color: rgb(120, 86, 255);
    padding: .6em 1em;
    border: none;
    outline: none;
    border-radius: 1.2em;
    font-size: 1em;
}
.tweet-img svg{
    width: 38px;
    height: 38px;
    fill: rgb(120, 86, 255);
    font-weight: 700;
    padding: .4em .6em;
}
.tweet-feed{
    padding: 1em;
    display: grid;
    grid-template-columns: 50px 1fr 47px;
    grid-template-areas: "tweet-feed-img feed-details dot-dot"
                        "tweet-feed-img feed-links dot-dot";
    border: 1px solid #38444D;
    max-width: 100vw;
}
.tweet-feed-img{
    grid-area: tweet-feed-img;
}
.feed-details{
    grid-area: feed-details;
}
.dot-dot{
    grid-area: dot-dot;
    padding: 0em 1.9em;
}
.dot-dot svg{
    width: 15px;
}
.feed-links{
    grid-area: feed-links;
}
.tweet-feed-img img{
    width: 48px;
    height: 48px;
    border-radius: 2em;
}
.profile-details{
    display: flex;
}
.feed-details{
    padding: 0em 1em;
}
.tweet-blog p{
    padding-top: .5em;
    font-size: 15px;
    line-height: 20px;
    word-spacing: 1px;
    max-width: 100%;
}
.feed-links{
    display: flex;
    justify-content: space-around;
    padding-top: .7em;
}
.feed-links svg{
    fill: #7D8995;
    width: 30px;
    height: 30px;
    padding: .4em;
    border-radius: 2em;
}
.reply,.retweet,.like{
    display: flex;
    padding-right: 2.4em;
}
.reply p,.retweet p,.like p{
    padding-left: .6em;
    padding-top: .5em;
    color: rgb(247, 249, 249);
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.reply svg{
    padding: .4em;
    border-radius: 2em;
}
.name{
    font-weight: 700;
    padding-right: .5em;
    font-size: 13px;
}
.mention{
    color: rgb(139, 152, 165) !important;
    font-size: 13px;
}
.search{
    margin-top: 5px;
    display: flex;
}
.search-icon{
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273340;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}
.search-icon svg{
    width: 31px;
    height: 17px;
    fill: rgb(139, 152, 165);
    padding-left: 12px;
}
.search input{
    width: 304px;
    border: none;
    outline: none;
    padding: 12px;
    background-color: #273340;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}
#search-twitter::placeholder{
    color: #8B98A5;
}
.trending-area{
    margin-top: 1em;
    background-color: #1E2732;
    border-radius: 1.2em;
}
.trending{
    /* margin-bottom: 1em; */
    padding: 12px 16px;
}
.trending h2{
    font-size: 20px;
}
.trend-item{
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
}
.main-trend{
    font-size: 15px;
    font-weight: 700;
    padding: 0.4em 0em;
}
.trend-p,.tweet-count{
    font-size: 13px;
    color: #8B98A5;
}
.nav-svg svg{
    width: 26px;
    height: 26px;
    fill: #fff;
}
.nav-svg{
    padding-right: 1.3em;
}
.notify svg{
    width: 25px;
}
.blue{
    fill: rgb(29, 155, 240);
}
.likee{
    fill: rgb(249, 24, 128);
}
.profiles{
    display: grid;
    grid-template-columns: 80px 450px;
    grid-template-areas: "proImg proDetails";
    padding: 1em 2em;
}
.proImg{
    grid-area: proImg;
}
.proImg img{
    width: 48px;
    border-radius: 2em;
}
.proDetails{
    grid-area: proDetails;
}
.prodata{
    display: flex;
}
.promess{
    margin-top: .5em;
    font-size: 15px;
}
.promess p{
    color: #8B98A5;
}
.rightMess{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0 20px;
}
.messbtn{
    margin-top: 20px;
}
.messbtn button{
    border: none;
    outline: none;
    padding: 10px 32px;
    background-color: #7856FF;
    border-radius: 1.2em;
}
.profileimg{
    width: 133px;
    height: 133px;
    border-radius: 5em;
    border: 5px solid #15202B;
    position: absolute;
    top: -60px;
    left: 15px;
}
.profilegrid{
    display: grid;
    grid-template-columns: repeat(2,163px);
    grid-template-areas: "one two";
    align-content: center;
    justify-content: center;
    margin: 1em 0;
    border: 1px solid #38444D;
    width: 326px;
    border-radius: 1.5em;
    box-shadow: 0px 15px 20px #1E2732;
}
.progrid{
    width: 163px;
    height: 96px;
}
.one{
    display: grid;
    grid-area: one;
    gap: 0;
}
.two{
    display: grid;
    grid-area: two;
    gap: 0;
}
.nav-links:hover{
    background-color: rgba(247, 249, 249, 0.1);
    width: 180px;
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.2s;
}
.profile:hover{
    background-color: rgba(247, 249, 249, 0.1);
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.2s;
}
.twitter-img:hover{
    background-color: rgba(247, 249, 249, 0.1);
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.2s;
}
.tweet-feed:hover{
    background-color: rgba(255, 255, 255, 0.03);
    transition: background-color 0.4s;
    cursor: pointer;
}
.trend-item:hover{
    background-color: rgba(255, 255, 255, 0.03);
    transition: background-color 0.4s;
    cursor: pointer;
}
.tweet-img svg:hover{
    background-color: rgba(120, 86, 255, 0.1);
    transition: background-color 0.4s;
    cursor: pointer;
    border-radius: 2em;
}
.reply:hover svg{
    fill: rgb(29, 155, 240);
    background-color: rgba(29, 155, 240, 0.1);
    transition: background-color 0.4s;
}
.reply:hover p{
    color: rgb(29, 155, 240);
}
.retweet:hover svg{
    fill: rgb(0, 186, 124);
    background-color: rgba(0, 186, 124, 0.1);
    transition: background-color 0.4s;
}
.retweet:hover p{
    color: rgb(0, 186, 124);
}
.likes-count{
    animation: likes .6s;
}
.activeLike:hover svg{
    fill: rgb(249, 24, 128);
    background-color: rgba(249, 24, 128, 0.1);
    transition: background-color 0.4s;
}
.activeLike:hover p{
    color: rgb(249, 24, 128);
}
.back-btn:hover{
    background-color: rgba(239, 243, 244, 0.1);
    border-radius: 2rem;
    cursor: pointer;
    transition: all .3s;
}
.edit-btn:hover{
    background-color: rgba(239, 243, 244, 0.1);
    border-color: rgb(83, 100, 113);
}
@keyframes likes {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
}
.like:hover svg{
    fill: rgb(249, 24, 128);
    background-color: rgba(249, 24, 128, 0.1);
    transition: background-color 0.4s;
}
.like:hover p{
    color: rgb(249, 24, 128);
}
.other svg:hover{
    fill: rgb(29, 155, 240);
    background-color: rgba(29, 155, 240, 0.1);
    transition: background-color 0.4s;
}
.right-dot{
    margin-left: 1em;
}

.rightArea{
    position: fixed;
    width: 348px;
}
.folksids{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: .8em 0;
}
.folksids img{
    width: 40px;
    height: 40px;
    border-radius: 1.5em;
}
.folksids p{
    font-size: 15px;
}
.folksbtn button{
    color: #fff;
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: 1.2em;
}
.footerPolicy{
    display: flex;
}
.footerPolicy p{
    font-size: 13px;
    color: #8898A5;
    padding-right: 1.1em;
    padding-bottom: .1em;
    cursor: pointer;
}
.com-card{
    display: flex;
    margin: .5em;
}
.cardimg img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 130px;
    margin: .5em;
    margin-bottom: -7px !important;
}
.cardimg p{
    font-size: 13px;
    text-align: center;
    padding: 5px;
}
.cardbottom{
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 130px;
    margin: .5em;
    margin-top: 0;
    border: 1px solid #38444D;
}

@media (max-width: 1210px){
    .left{
        width: 50px;
        padding-left: 0.7em;
    }
    .nav-links{
        margin-left: .2em;
        padding: .6em 1em .6em 0.5em;
    }
    .nav-links:hover{
        width: 18px;
    }
    .nav-links a{
        display: none;
    }
    .left-tweet-btn{
        display: none;
    }
    .pro-name{
        display: none;
    }
    .pro-dot{
        display: none;
    }
    .profile{
        padding: .6em .5em 0.5em .4em;
        width: 40px;
    }
    .right{
        width: 350px;
    }
}
@media (max-width: 1024px){
    .right{
        width: 288px;
    }
}
@media (max-width: 950px){
    .right{
        display: none;
    }
}
/* @media (max-width: 620px){
    .Mid{
        width: 490px;
    }
} */
@media (max-width:520px){
    body{
        overflow-x: hidden;
    }
    .Mid{
        padding-right: 0;
        /* width: 490px; */
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .name{
        font-size: 12px
    }
    .mention{
        font-size: 11px;
    }
    .tweet-blog p{
        font-size: 13px;
    }
    .add-tweet textarea{
        width: 310px;
    }
}
